body {
  font-family: "Poppins", Arial, sans-serif;
  margin: 0;
  background-color: #f5f5f5;
  color: #222;
}

header {
  background-color: #16030d;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  flex-wrap: wrap;
}
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

nav a:hover {
  color: #ffcc00;
}
/*------------------*/
.encabezado {
  background: url("https://images.ecestaticos.com/Iwk5KDaNg4-gNrEUD8jx-XYSAFA=/0x174:2272x1451/1338x752/filters:fill(white):format(jpg)/f.elconfidencial.com%2Foriginal%2F616%2F0f1%2F877%2F6160f1877ee2d6bde0e4467f634e2160.jpg") center/cover no-repeat;
  color: white;
  text-align: center;
  padding: 100px 20px;
  font: optional;
}
.encabezado-content {
  background: rgba(0, 0, 0, 0.6);
  display: inline-block;
  padding: 30px;
  border-radius: 15px;
}
.encabezado h2 {
  font-size: 2.5em;
  margin-bottom: 10px;
}

/* === SECCIONES === */
section {
  padding: 50px 20px;
  max-width: 1200px;
  margin: auto;
  text-align: center;
}
/* === Noticias destacadas === */

.resumen-contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
}
.resumen-jornada {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 300px;
  padding: 15px;
  transition: transform 0.3s;
}
.resumen-jornada:hover {
  transform: translateY(-5px);
}
.resumen-jornada img {
  width: 100%;
  border-radius: 10px;
}
/*-----------------------------------------------------------*/
.jornadas {
  padding: 2rem;
  background: #f8f8f8;
  border-radius: 12px;
  max-width: 700px;
  margin: 2rem auto;
  text-align: center;
}

.jornadas h2 {
  color: #003366;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.partido {
  background: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.equipos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.partido h3 {
  margin: 0;
  font-size: 1.3rem;
  color: #222;
}

.logo {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.vs {
  font-weight: bold;
  color: #555;
  margin: 0 5px;
  font-size: 1.2rem;
}

.partido p {
  margin: 0.3rem 0;
  font-size: 1rem;
}